*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

body {
  font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #252445;
  background: #aaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info {
  width: 100%;
}

.image-preload {
  position: absolute;
  left: -9999px;
}

.nosupport {
  display: none;
  margin: 0 auto;
  font-size: 1.25em;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background: #a74e71;
  z-index: 1000;
}

.no-webgl .nosupport {
  display: block;
}

.app {
  background: #f2f2f2;
  color: #000;
  /* width: 261px;
  height: 463px; */
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 74px;
  left: 20px; */
  top: 0;
  left: 0;
  padding: 1em;
  text-align: center;
  overflow: hidden;
}

.app-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
}

.app__button-menu {
  background: none;
  border: none;
  padding: 0;
  color: #333;
  font-size: 1.15em;
  float: left;
}

.app__title {
  font-size: 5em;
  letter-spacing: -5px;
  margin: 2.35em 0 0 0;
  line-height: 1;
}

.app__info {
  color: #797979;
  padding: 0 1em;
  margin: 0;
}

.app__info--small {
  font-size: 0.65em;
  font-weight: bold;
  color: #aaa;
}

.app__button {
  border: 2px solid #333;
  padding: 0.6em 1.75em;
  margin: 4em 0 1em;
  text-transform: uppercase;
  color: #333;
  font-size: 0.75em;
  font-weight: bold;
  background: none;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}